@import "./../../../resources"

/* Talk Speaker */
.talk
  width: 20%
  height: 60%
  @extend %flexbox-centered-row

.talk-container
  @extend %flexbox-centered-col
  width: 100%
  height: 100%
  border-radius: 16px
  background: linear-gradient(0, $motionPrimaryDarkColor, $pleasureColor)
  box-shadow: 1px 1px 6px 1px transparentize($motionPrimaryDarkColor, 0.6)
  > *
    width: 100%

.chat-header
  @extend %flexbox-flex-start-row
  justify-content: space-between
  padding: $marginComponent
  flex: 1

.chat-menu
  margin: 0 $marginSibling
  width: 24px
  height: auto

.chat-recipient
  @extend %flexbox-flex-start-row
  margin: 0 $marginSibling

.chat-close
  margin: 0 $marginSibling
  width: 14px
  height: auto

.chat-recipient-name
  font-family: $fontFamilySansSerif
  font-weight: 600
  font-size: $paragraphTextSize
  color: $iconsTextColor

.chat-body
  @extend %flexbox-flex-start-col
  justify-content: flex-start
  flex: 10
  padding: $marginComponent 0 $marginComponent $marginComponent
  overflow: auto

/* Scrollbar */
/* Width */
::-webkit-scrollbar
  width: 36px

/* Scrollbar */
::-webkit-scrollbar
  background-color: transparent

/* Thumb */
::-webkit-scrollbar-thumb
  background-clip: padding-box !important
  border: 16px solid rgba(0, 0, 0, 0)
  border-radius: 18px
  background: transparentize($iconsTextColor, 0.6)

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover
  background: $iconsTextColor

.chat-body-container
  width: 100%
  height: 100%
  overflow-y: scroll

.chat-message
  @extend %flexbox-centered-col
  margin: $marginSibling 0
  width: 100%
  height: auto

.chat-message-body
  max-width: 60%
  background-color: transparentize($motionPrimaryLightColor, 0.4)
  border-radius: 8px
  padding: $marginSibling $marginParent
  font-family: $fontFamilySansSerif
  font-weight: 600
  font-size: $subparagraphTextSize
  color: $iconsTextColor
  word-wrap: break-word

.sender
  align-items: flex-end

.recipient
  align-items: flex-start

.chat-action
  @extend %flexbox-centered-col
  position: relative
  width: 100%
  padding: 0 $marginComponent
  border-radius: 16px

.chat-input
  display: inline-block
  text-align: center
  width: 100%
  outline: none
  overflow-y: hidden
  margin: $marginSection
  color: transparentize($iconsTextColor, 0.2)
  font-family: $fontFamilySansSerif
  font-size: $subparagraphTextSize
  border: none

  &:focus
    color: $iconsTextColor

/* Social Speaker */

.social-profile
  @extend %flexbox-flex-start-row
  margin: $marginSibling 0

.social-profile-acc
  width: 32px
  height: auto

.social-profile-details
  @extend %flexbox-flex-start-col
  margin: 0 $marginComponent

.social-profile-name
  color: $iconsTextColor
  font-family: $fontFamilySansSerif
  font-size: $subparagraphTextSize
  font-weight: 600

.social-profile-active
  color: transparentize($iconsTextColor, 0.2)
  font-family: $fontFamilySansSerif
  font-size: $spanTextSize
  font-weight: 400

.social-search-input
  display: flex
  flex: 1
  width: 100%
  background-color: transparent
  height: auto
  outline: none
  overflow-y: scroll
  margin: $marginComponent
  color: $iconsTextColor
  font-family: $fontFamilySansSerif
  font-size: $subparagraphTextSize
  border: none

  &::placeholder
    color: transparentize($iconsTextColor, 0.15)