@import "./../../../resources"

.creator
  @extend %flexbox-flex-start-col
  z-index: 2
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: $iconsTextColor
  box-shadow: 2px 2px 6px 1px transparentize($motionPrimaryColor, 0.55)
  width: 650px
  height: 550px
  border-radius: 2px
  padding: $marginSection
  justify-content: center
  align-items: center

.creator-header
  @extend %flexbox-centered-col
  width: 100%
  margin: $marginSibling

.creator-header-title
  margin: $marginSibling
  font-family: $fontFamilySansSerif
  font-size: $subheaderTextSize
  color: $primaryTextColor
  font-weight: 600

.creator-body
  @extend %flexbox-centered-row
  flex: 1
  width: 100%

.creator-container
  @extend %flexbox-centered-col
  flex: 1
  height: 100%

.creator-filling
  display: inline-flex
  justify-content: flex-start
  align-items: flex-start
  flex-direction: column

.creator-content
  @extend %flexbox-centered-col
  height: auto
  width: auto

.creator-interaction
  @extend %flexbox-flex-start-row
  height: auto
  width: auto

.creator-interaction-container
  display: flex

.creator-interaction-cancel
  display: flex
  margin: 0 $marginSection

.creator-interaction-zone
  @extend %flexbox-centered-col
  position: relative
  width: 15vw
  height: 10vw
  border: 1.25px dashed transparentize($primaryTextColor, 0.8)

.creator-interaction-zone-dropping
  border: 2px dashed $primaryTextColor

.creator-interaction-zone-dropped
  border: none

.creator-input
  position: absolute
  z-index: 2
  width: 100%
  height: 100%
  visibility: hidden

.creator-live-input
  position: absolute
  z-index: 1
  width: 100%
  height: 100%
  visibility: hidden

.creator-upload
  margin: $marginSibling
  width: 50px
  height: 50px

.creator-upload-text
  margin: $marginSibling
  font-family: $fontFamilySansSerif
  font-size: $subparagraphTextSize
  color: $primaryTextColor

.creator-back
  cursor: pointer
  position: absolute
  top: 0
  left: 100%
  width: 12px
  height: auto
  transform: translate(-250%, 150%)
  transform-origin: center

  &:hover
    transform: translate(-250%, 150%) scale(1.1)