<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.cchiv.jiggles">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="ACTION"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AuthActivity"/>

        <activity
            android:name=".activities.HomeActivity"
            android:label="Home"/>

        <activity
            android:name=".activities.SearchActivity"
            android:label="Search"/>

        <activity
            android:name=".activities.PlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="Player"/>

        <activity
            android:name=".activities.ForumActivity"
            android:label="Forum"/>

        <provider
            android:authorities="com.example.android.JigglesProvider"
            android:name=".data.JigglesProvider"
            android:exported="false"/>

    </application>

</manifest>