@import "./../../../resources"

.main-query
  @extend %flexbox-flex-start-col
  justify-content: flex-start
  width: 100%
  padding: $marginRelative $marginSection
  background-color: $motionPrimaryDarkColor

.main-query-row
  display: table
  padding: $marginRelative 0
  height: 100%
  width: 100%
  justify-content: flex-start

.main-query-container
  @extend %flexbox-flex-start-col
  display: inline-flex
  height: 100%
  justify-content: flex-start
  padding: $marginRelative $marginComponent

  &:last-child
    flex: 1

/* Header */
.main-search-header
  @extend %flexbox-flex-start-col
  width: 100%
  padding: $marginRelative $marginSection

.main-search-category
  font-weight: bold
  font-size: $subheaderTextSize
  font-family: $fontFamilySansSerif
  color: $iconsTextColor

/* Contents */
.main-search-contents
  @extend %flexbox-flex-start-row
  align-items: flex-start
  width: 100%
  flex-wrap: wrap