@import "../../../resources"

.form-textarea
  @extend %flexbox-flex-start-col
  width: 100%
  height: 100%

  > *
    margin: $marginRelative 0

.form-textarea-label
  display: flex
  font-family: $fontFamilySansSerif
  font-size: $paragraphTextSize
  font-weight: 600
  color: $primaryDarkColor

.form-textarea-action
  max-width: 100%
  resize: vertical
  width: 100%
  font-size: $subparagraphTextSize
  font-family: $fontFamilySansSerif
  font-weight: 600
  outline: none
  border: 2px solid rgba($accentColor, 0.2)
  padding: $marginRelative $marginComponent
  border-radius: 2px
  color: $primaryTextColor
  min-height: 65px
  max-height: 225px
  height: auto

  &:focus
    border: 2px solid rgba($accentColor, 0.4)

  &::placeholder
    font-size: $subparagraphTextSize
    font-family: $fontFamilySansSerif
    color: $primaryTextColor
    opacity: 0.3
    font-weight: 600