@import "../../resources"

.slider
  @extend %flexbox-centered-col
  margin: $marginSibling

.slider-horizontal
  max-width: 100%
  width: 100%
  height: auto

.slider-vertical
  max-height: 100%
  height: 240px
  width: auto

.slider-value
  margin: $marginSibling 0
  font-family: $fontFamilyMonospace
  font-size: $subparagraphTextSize
  font-weight: 600
  letter-spacing: 1.65px
  color: $primaryTextColor

.slider-container
  position: relative
  z-index: 1
  margin: $marginSibling 0
  border-radius: 2px
  background-color: transparentize($secondaryColor, 0.75)

.slider-container-horizontal
  @extend %flexbox-flex-start-row
  width: 100%
  height: 4px

.slider-container-vertical
  @extend %flexbox-flex-start-col
  align-items: flex-end
  justify-content: flex-end
  width: 4px
  height: 100%

.slider-placeholder
  @extend %flexbox-flex-start-col
  border-radius: 2px
  background-color: $primaryTextColor

.slider-placeholder-horizontal
  height: 100%
  width: 0

.slider-placeholder-vertical
  height: 0
  width: 100%

.thumb
  z-index: 2
  position: absolute
  left: 0
  top: 100%
  width: 10px
  height: 10px
  border-radius: 5px
  background-color: $accentColor

.thumb-horizontal
  transform: translate(0, -7px)

.thumb-vertical
  transform: translate(-2.5px, 0)

.slider-label
  @extend %flexbox-flex-start-col
  position: relative

.slider-label-value
  position: absolute
  font-family: $fontFamilySansSerif
  font-size: $subspanTextSize
  font-weight: 600
  letter-spacing: 1.65px
  color: $primaryTextColor
  transform: translate(-50%, 100%)