@import "../../resources"

.slider
  @extend %flexbox-centered-col
  margin: $marginSibling 0
  width: 100%
  height: auto

.slider-value
  margin: $marginSibling 0
  font-family: $fontFamilySansSerif
  font-size: $subparagraphTextSize
  font-weight: 600
  letter-spacing: 1.65px
  color: $primaryTextColor

.slider-container
  display: flex
  justify-content: flex-start
  align-items: flex-start
  z-index: 1
  width: 100%
  height: 4px
  position: relative
  margin: $marginSibling 0
  border-radius: 2px
  background-color: transparentize($secondaryColor, 0.75)

.slider-placeholder
  @extend %flexbox-flex-start-col
  border-radius: 2px
  background-color: $primaryDarkColor
  height: 100%
  width: 0

.thumb
  z-index: 2
  position: absolute
  left: 0
  width: 10px
  height: 10px
  border-radius: 5px
  background-color: $primaryDarkColor
  top: 0
  transform: translate(0, -3px)